h1 {
    background-color: coral;
    text-align: center;
    font-size: 50px;
}

img {
    display: inline;
    margin-left: 25%;
    margin-right: 25%;
    width: 25%;
    margin: 20px 0 0 20px;
}

body {
    background-color: bisque;
    text-align: center;
}

h3 {
    color: orangered;
    text-align: center;   
    padding: 150px 0 50px 0
}

#Endereço {
    text-align: center;
    margin-top: -5%;
    font-size: 20px;
    color: black;
}

p {
    color: orangered;
    font-size: 40px;
}

#Espaço {
    padding-left: 40px;
}

.livro {
    padding: 10px 30px 70px 45px;
}

#distancia {
    padding: 30px 0 30px 0;
}

#trabalhadores {
    text-align: left;
    padding-top: 50px;
}

.nomes {
    text-align: left;
}

.alinhamento {
   margin-left: 50px;
}

#alinhar {
   margin-left: -2px ;
   padding-right: 5px;
}